* {
    margin: 0;
    scroll-behavior: smooth;
}

body{
    min-height: 2000px;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.active {
    background: #3CB371;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: white;
}


.nav-item {
    margin-right: 1.2em;
}

.shadow {
    transition: 1s;
}

.active {
    font-weight: 700;
}

.btn-navbar {
    background: #FF8C00;
    color: white;
}

.btn-navbar:hover {
    background: #0400fc;
    color: white;
}

.btn-outline-navbar {
    background: none;
    color: #96a0a5;
    border: 1px #31b0eb solid;
}

.btn-outline-navbar:hover {
    background: #1073a1;
    color: white;
}

.jumbotron {
    padding-top: 2rem;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 6rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0)), url('../img/Home.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    overflow: hidden;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.wall {
    padding-top: 5rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../img/Bg_about.jpg");
    background-size: cover;
}

.alumni {
    padding-top: 5rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../img/Bg_alumni.jpg");
    background-size: cover;
}


h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}



.register {
    padding-top: 5rem;
    background-color: #87CEEB;
}


.btn-hero {
    background: #31b0eb;
    color: white;
    text-transform: uppercase;
}

.btn-hero:hover {
    background: #1073a1;
    color: white;
    text-transform: uppercase;
}

#services{
    background-color: #e2edff;
}

.footer {
    background-color: #2F4F4F;
    padding-bottom: 150px;
}

.footer-link {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

.footer-link li {
    margin-top: 10px;
}

.footer-link li a {
    color: white;
    text-decoration: none;
}

.footer-link li a:hover {
    color: black;
}

.footer-bottom {
    background-color: black;
}

